@font-face {
   font-family: 'Special Elite';
   font-style: regular;
   font-weight: 400;
   src: url('file:///C:/Users/Vera/Desktop/amp-website-builder/amp-ecommerce-template//fonts/Special Elite/regular.ttf') format('truetype');
}
