@font-face {
   font-family: 'Kaushan Script';
   font-style: regular;
   font-weight: 400;
   src: url('file:///C:/Users/Vera/Desktop/amp-website-builder/amp-basic-template//fonts/Kaushan Script/regular.ttf') format('truetype');
}
